.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    margin: 28px 0px 0px 20px;
    padding: 10px 20px;
}
/*=============================================== */




.profile p{
    
    width: 30%;
}

.bottom-logo{
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 100px;
    transition: transform 2.5s;
}

.bottom-logo:hover{
    transform: rotate(360deg);
}

.profile::after{
    content: '';
    display: table;
    clear: both;
}

/*=============================================== */
.about-me-image{
    float: left;
    margin-top: 80px;
    margin-left: 100px;
    margin-right:100px ;
}
.about-me-image img{
    width: 150px;
}
.about-me-desc{
    margin-left: 50px;
}
.about-me-desc p{
    text-align: left;
}


/*=============================================== */