*{
    box-sizing: border-box;
    font-family:  monospace;
}
body{
    margin: 0;
}
h1{
    font-size: 3rem;
    text-align: center;
}
a{
    color: wheat;
    font-size: 1.2rem;
    text-decoration: none;

}
p{
    font-size: 1.2rem;
    text-align: justify;
}
[class*="col-"]{
    float: left;
    padding: 10px;

}
[class*="col-"]{
    width: 100%;
}
.navbar{
    background-color: #7BB970;
    padding: 1% 7%;
    text-align: center;
}
.nav-heading{
    color: white;
    margin: 0;
    padding: 10px;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.nav-menu{
    display: flex;
    flex-direction: column;
}
.nav-menu a{
    background-color:  #7BB970;
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: white;
}
.nav-menu a:hover{
    background-color: #5d9e52;
    color: whitesmoke;
}

/*=============================================== */

.profile{
    padding: 130px 10px;
    position:relative;
    text-align: center;
}

.top-logo{
    position: absolute;
    right: 100px;
    top: 35px;
    transition: transform 2.5s;
}

.top-logo:hover{
    transform: rotate(360deg);
}
.profile h1{
    font-size: 3rem;
}
.profile p{
    color: gray;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.bottom-logo{
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 100px;
    transition: transform 2.5s;
}

.bottom-logo:hover{
    transform: rotate(360deg);
}